{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="cart_container">
    <h1>Корзина товаров</h1>
    <table>
        <thead>
            <tr>
                <th>Название товара</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th>Скидка</th>
                <th></th>
            </tr>
        </thead>
        {% for cart in carts %}
        <tbody>
        <tr>
            <td>{{cart.product.name}}</td>
            {% if cart.product.discount %}
            <td>{{cart.product.sell_price}} руб</td>
            {% else %}
            <td>{{cart.product.price}} руб</td>
            {% endif %}
            <td>
                <button class="quantity_item_btn" data-product="{{ cart.product.item.id }}" data-quantity="1">-</button>
                <p class="cart-quantity-item">{{ cart.quantity }}</p>
                <button class="quantity_item_btn" data-product="{{ cart.product.id }}" data-quantity="1">+</button>
            </td>
            <td id="total_price_item">{{cart.product_price}} руб</td>
            {% if cart.product.discount %}
            <td>{{cart.product.discount}}%</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td><a href="{% url 'purchase:cart_remove' cart.id%}" class="trash"><img
                    src="{% static 'mainApp/img/корзина.png' %}"></a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    {% if user.is_authenticated%}
    {% if not carts %}
    <h4 style="text-align: center; margin-top: 2%;">Пусто</h4>
    {% else %}
    <div class="total">
        Кол-во: <span><strong>{{carts.total_quantity}} шт</strong></span><br>
        Итого: <span><strong id="total_price"> {{carts.total_price}} руб</strong></span>
    </div>
    <div>
        <a href="#" methods="#" class="compleat">Оформить заказ</a>
    </div>
    {% endif %}
    {% else %}
    <div class="not_authorized" style="width:250px;display:block;margin-left: auto;margin-right:auto;">
        <a href='http://127.0.0.1:8000/users/login/' style="color: red;">Необходимо авторизоваться</a>
    </div>
    {% endif %}
</div>
<script>
$('.quantity_item_btn').on('click', function() {
    const button = $(this);
    const productId = button.data('product');
    const quantity = button.data('quantity');
    console.log('Отправка данных на сервер: productId =', productId, ', quantity =', quantity);
    addToCartWithJQuery(productId, quantity, button);
});
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function addToCartWithJQuery(productId, quantity, button) {
    $.ajax({
        url: 'http://127.0.0.1:8000/purchase/cart/',
        type: 'POST',
        data: {
            'product_id': productId,
            'quantity': quantity
        },
        beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        },
        success: function(data) {
            if (data) {
                // Находим элемент количества товара внутри строки, содержащей кнопку
                const quantityElement = button.siblings('.cart-quantity-item');
                quantityElement.text(`${data.cartCount} шт`);
                // Находим элемент суммы товара внутри строки, содержащей кнопку
                const priceElement = button.closest('tr').find('#total_price_item');
                priceElement.text(`${data.priceItem} руб`);
                $('#total_price').text(`${data.totalPrice} руб`);
            }
            console.log('Данные успешно отправлены на сервер:', data);
        },
        error: function(error) {
            console.error('Ошибка при добавлении в корзину:', error);
        }
    });
}
</script>
{% endblock %}