{% extends "base.html" %}
{% block content %}
<div class="about">
    <p style="font-family: 'Amatic SC', cursive;text-align: left; font-size: 20px;">Компания, которая занимается
        продажей женской одежды из Белорусии.
        <br>Мы стремимся находить удобную и качественную одежду для всех, кто ищет натуральный и стильный внешний вид.
        <br>Наша миссия - предложить высококачественную одежду, которая будет соответствовать вашим предпочтениям и
        потребностям, и помочь вам выглядеть на все 100%.
    </p>
</div>
{% endblock %}