{% extends "base.html" %}
{% load static %}
{% block content %}
		<section>
			<h2 style="text-align:center;">Категории</h2>
			<ul>
				<li style="text-align:center; margin: 20px;"><a class="category" href="#"><img src="{% static 'mainApp/img/юбка.png' %}" alt><br>Юбки и топы</a></li>
				<li style="text-align:center; margin: 20px;"><a class="category" href="#"><img src="{% static 'mainApp/img/юбка.png' %}" alt><br>Брюки и рубашки</a></li>
				<li style="text-align:center; margin: 20px;"><a class="category" href="#"><img src="{% static 'mainApp/img/юбка.png' %}" alt><br>Свитеры и шапки</a></li>
				<li style="text-align:center; margin: 20px; margin-top: 50px;"><a class="category" href="#"><img src="{% static 'mainApp/img/юбка.png' %}" alt><br>Кроссовки и кеды</a></li>
			</ul>
		</section>
{% endblock %}