{% extends "base.html" %}
{% load static %}
{% block content %}
		<section class="item-section">
			<ul>
				{% for item in items %}
					<li style="text-align:center; margin: 20px;" class="item_list">
						<a class="category" href="#">
							{% if item.image %}
                                <img src="{{item.image.url}}" alt="Картинка" class="item_img">
                        {% else %}
                                <img class="item_img" src="{% static 'mainApp/img/юбка.png' %}" alt="this is image of cate">
                        {% endif %}
							<br>
							<p>{{item.name}}</p>
							<p>{{item.price}}руб</p>

						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
{% endblock %}