{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="item-section">
    <h2 style="text-align:center;">{{cat_name}}</h2>
    <ul class="item_list">
        {% for item in items %}
        <li class="item_list_item">
            <a class="category" href="http://127.0.0.1:8000/category/{{item.slug_name}}/{{item.item_slug}}/">
                {% if item.image %}
                <img src="{{item.image.url}}" alt="Картинка" class="item_img">
                {% else %}
                <img class="item_img" src="{% static 'mainApp/img/юбка.png' %}" alt="this is image of cate">
                {% endif %}
                <br>
                <h4>{{ item.name }}</h4>
                {% if not item.discount %}
                <p>{{ item.price }} руб</p>
                {% endif %}
                <div class="price_cart">
                    {% if item.discount %}
                    <p class="original-price">{{ item.price }} руб</p>
                    <b><p class="discounted-price">Скидка {{item.discount}}%</p></b>
                    <p>{{ item.sell_price }} руб</p>
                    {% endif %}
                </div>
            </a>
<!--            <button class="add-to-cart" data-product="{{ item.id }}" data-quantity="1" data-path="{{ request.build_absolute_uri }}">Добавить в корзину</button>-->
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}