{% extends "base.html" %}
{% load static %}
{% block content %}
		<section>
			<h2 style="text-align: center">Новинки</h2>
			<ul class="products">
				<li class="product">
					<img src="{% static 'mainApp/img/p_zaglushka.png' %}" alt="Одежда 1">
					<h3>Одежда 1</h3>
					<p>Цена: 1000 руб.</p>
					<button>Добавить в корзину</button>
				</li>
				<li class="product">
					<img src="{% static 'mainApp/img/p_zaglushka.png' %}" alt="Одежда 2">
					<h3>Одежда 2</h3>
					<p>Цена: 2000 руб.</p>
					<button>Добавить в корзину</button>
				</li>
				<li class="product">
					<img src="{% static 'mainApp/img/p_zaglushka.png' %}" alt="Одежда 3">
					<h3>Одежда 3</h3>
					<p>Цена: 3000 руб.</p>
					<button>Добавить в корзину</button>
				</li>
				<li class="product">
					<img src="{% static 'mainApp/img/p_zaglushka.png' %}" alt="Одежда 4">
					<h3>Одежда 4</h3>
					<p>Цена: 4000 руб.</p>
					<button>Добавить в корзину</button>
				</li>
				<li class="product">
					<img src="{% static 'mainApp/img/p_zaglushka.png' %}" alt="Одежда 3">
					<h3>Одежда 3</h3>
					<p>Цена: 3000 руб.</p>
					<button>Добавить в корзину</button>
				</li>
				<li class="product">
					<img src="{% static 'mainApp/img/p_zaglushka.png' %}" alt="Одежда 3">
					<h3>Одежда 3</h3>
					<p>Цена: 3000 руб.</p>
					<button>Добавить в корзину</button>
				</li>
				<li class="product">
					<img src="{% static 'mainApp/img/p_zaglushka.png' %}" alt="Одежда 3">
					<h3>Одежда 3</h3>
					<p>Цена: 3000 руб.</p>
					<button>Добавить в корзину</button>
				</li>
				<li class="product">
					<img src="{% static 'mainApp/img/p_zaglushka.png' %}" alt="Одежда 3">
					<h3>Одежда 3</h3>
					<p>Цена: 3000 руб.</p>
					<button>Добавить в корзину</button>
				</li>

			</ul>
		</section>
{% endblock %}