{% extends "base.html" %}
{% load static %}
{% block content %}
<h2 style="text-align:center; color: #333;">Новинки</h2>
<section class="item-section">
    <ul class="item_list">
        {% if items %}
        {%for item in items %}
        <li class="item_list_item">
            {% if item.image %}
            <img src="{{item.image.url}}" alt="Картинка" class="item_img">
            {% else %}
            <img class="item_img" src="{% static 'mainApp/img/юбка.png' %}" alt="this is image of cate">
            {% endif %}
            <h3>{{item.name}}</h3>
            <p>{{item.price}}</p>
            <a href="{% url 'purchase:cart_add' item.item_slug%}" class="add_in_cart">Добавить в корзину</a>
        </li>
        {% endfor %}
        {% else %}
        <p>На данный момент новинки отсутствуют</p>
        {% endif %}
    </ul>
</section>
{% endblock %}