<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'mainApp/css/style.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title></title>
</head>
<body>
<header class="header">

    <div class="top_container">
        <div class="logo_container">

            <div class="theme-selector"><input type="button" value="&#x1F31D;"></div>
            <div class="logo">
            <a href="http://127.0.0.1:8000">
                <img src="{% static 'mainApp/img/logogo.png' %}" alt="logo">
            </a>
        </div>
            <div class="sign_in_out">
        {% if user.is_authenticated %}
            <li class="last">
                {% if user.username == 'admin' %}
                    <a href="http://127.0.0.1:8000/admin/" class="user-link">
                        <b class="username">{{user.username}}</b>
                    </a>
                {% else %}
                    <a href="http://127.0.0.1:8000/users/account/" class="user-link">
                        <b class="username">{{user.username}}</b>
                    </a>
                {% endif %}
                <a href="http://127.0.0.1:8000/users/logout/" class="logout-link"><p>выйти</p></a>
            </li>
        {% else %}
            <li class="last">
                <a href="http://127.0.0.1:8000/users/login/" class="login-link"><p>Войти</p></a>
                <a href="http://127.0.0.1:8000/users/register/" class="register-link"><p>Регистрация</p></a>
            </li>
        {% endif %}
    </div>

        </div>
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>