/* Общие стили для всего содержимого */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 1s ease, color 1s ease;
}
body, html{
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy-Medium', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(146, 110, 129);
    background-color: #15151a;
    color: white;
    overflow-x: hidden;
}

p {
background-color: #15151a;
color: rgb(175 117 148);
}

.form-container{
    text-align: center;
}

hr {
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

a {
    text-decoration: none;
    color: #15151a;
}

/* Стили для шапки */
header {

    text-align: center;
    background-color: #15151a;/* #15151a */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 3%;
    color: rgb(146, 110, 129);
}

.logo {
    max-width: 10%;
    margin-bottom: 24px;
}
.header_nav {
    color: #15151a;
    position: relative;
    height: 150px;
    background-color: rgb(175 117 148);
    border: 1px solid rgb(146, 110, 129);
}

nav ul {
    padding-top: 30px;
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center
}

.main_nav {
    margin: 30px;
    vertical-align: top;
    width: 20%;
}
main {
    min-height: auto;
    max-width: 1170px;
    margin: auto;
}

.nav_cat {
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    font-size: 25px;
    letter-spacing: 0;
    display: inline-block; /* Обеспечивает правильное применение transform */
}

.nav_cat:hover {
    color: #e5e5e5;
    text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5);
    transform: perspective(500px) scale(1.2); /* Приближение к монитору с использованием perspective */
}

/* Стили для основного контента */

h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
section h2 {
    background-color: #15151a;
    color: rgb(146, 110, 129);
}

ul {
    list-style: none;
}
.item-section {
    display: flex;
    justify-content: center;
}
.item_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
}
.item_list_item {
    text-align: center;
    margin: 20px;
    max-width: 250px; /* Ширина элемента, чтобы установить одинаковую ширину для всех элементов */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item_img {
    width: 100%; /* Ширина 100%, чтобы изображение занимало всю доступную ширину контейнера */
    height: 300px; /* Фиксированная высота для изображения */
    object-fit: contain; /* Заполнение контейнера, сохраняя при этом соотношение сторон */
    transition: transform 0.5s ease;
}
.price_cart {
    background-color: rgba(255, 255, 255, 0.8); /* Прозрачный фон для блока */
    padding: 10px; /* Внутренний отступ для контента в блоке */
    text-align: center;
    width: 100%; /* Ширина блока равна ширине item_list_item */
}

.item_img:hover{
    transform: scale(1.05);
}

.cat_list{
    margin: 30px;
    vertical-align: top;
    width: 20%;
    transition: transform 0.3s ease-in-out;
}

.cat_list:hover{
    transform: scale(1.05);
}
img {
    max-width: 100%;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #15151a;
    color: rgb(146, 110, 129);
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid rgb(175 117 148)  ;
}

iframe{
    margin-bottom: 30px;
    border: 5px solid rgb(175 117 148);
    border-radius: 10px;
}
.iframe {
    background-color: #15151a;
    color: rgb(175 117 148);
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.product {
    width: 250px;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(146, 110, 129);
}

.product p {
    font-size: 18px;
    margin-bottom: 10px;
}

.product button {
    background-color: rgb(146, 110, 129);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.product button:hover {
    background-color: rgb(255 137 200);
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
  }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                        /* СТИЛИ ДЛЯ ОТЗЫВОВ */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.review {
    width: 300px;
    margin: 15px;
    padding: 15px;
    border: 1px solid rgb(146, 110, 129);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #15151a;
    transition: transform 0.3s ease-in-out;
}
.review:hover {
    transform: scale(1.05);
}
.review-name {
    color: rgb(175 117 148);
    font-size: 1.5em;
    margin-bottom: 10px;
}
.review-rating {
    color: rgb(175 117 148); /* Цвет звезд рейтинга */
    font-size: 1.2em;
    margin-bottom: 5px;
}
.review-comment {
    color: rgb(175 117 148);
    font-size: 1.2em;
    margin-bottom: 5px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                           /* АВТОРИЗАЦИЯ */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.sign_in_out{
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    height: 24px;
}

.last {
    color: black;
    list-style-type: none;
    margin-right: 20px;
}

.login-link, .register-link,logout-link {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    margin-right: 10px;
}

.login-link:hover, .register-link:hover,logout-link {
    text-decoration: underline;
    color: #007bff;
}
.logout-link{
    font-size: 12px
}
.username {
    /* Добавьте стили, которые хотите применить к username */
    font-weight: bold;
    color: rgb(255 137 200); /* Например, розовый цвет */
    font-size: 40px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.username:hover {
    color: #ff69b4; /* Например, розовый цвет при наведении */
    text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5); /* Небольшая тень */
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.auth_form {
    display: flex;
    background-color: rgb(251 221 237);
    height: 400px;
    width: 410px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #3333333d  ;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.auth_form.errorlist {
    height: auto;
}

.auth_form p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_form label {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.auth_form input {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.auth_form input:focus {
    border-color: #007bff; /* Цвет рамки при фокусе */
    outline: none;
}

.auth_submit {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    transition: background-color 0.3s ease;
}

.auth_submit:hover {
    background-color: #0056b3;
}
.auth_submit:active {
    background-color: #333;
}

.auth_form ul {
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

.auth_form ul.errorlist {
    color: red;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
}

.auth_footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.res_pass_q {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333; /* цвет ссылки */
    text-decoration: none;
}

.res_pass_q:hover {
    text-decoration: underline;
    color: #007bff;
}

/* КНОПКА ТЕМЫ*/
.theme-selector {
    display: block;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #15151a;
    color: #fff;
    border-radius: 5px;
/*    transition: background-color 0.3s ease, color 0.3s ease;*/
}
/*- - - - - -*/
/*ОПИСАНИЕ ITEM*/
.product_item {
    display: flex;  /* Размещаем блоки внутри .product в строку */
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 3%;
    margin-bottom: 20px;
}

.product_img {
    height: auto;
}

.description {

}

.price {
    text-align: center;
    font-weight: bold;
}

.description_item {
    margin-left: 20%;  /* Добавляем отступ слева */
}
/*- - - -*/
.buy_cart {
    position: fixed;
    width: 70px;
    height: 70px;
    background-color: rgb(251, 221, 237);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3333334a;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* добавляем анимацию к свойствам transform и box-shadow */
}

.buy_cart:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* добавляем подсветку при наведении */
}

.buy_cart_img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.item_count {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}