/* Общие стили для всего содержимого */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: white;
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.form-container{
    text-align: center;
}

hr {
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

/* Стили для шапки */
header {
    height: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo {
    padding: 10px;
    max-width: 10%;
}

nav ul {
    height: 100px;
    background-color: rgb(251 221 237);
    list-style: none;
    margin: 0;
    padding: 10px 0px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Стили для основного контента */
main {
    margin-top: 2%;
    padding: 20px;
}

section {
    margin: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 30px;
    vertical-align: top;
    width: 20%;
}

img {
    max-width: 100%;

}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #d9d9d9;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer h2,
footer p,
.category {
    color: black;
}

.iframe {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.product {
    width: 25%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 18px;
    margin-bottom: 10px;
}

.product button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.product button:hover {
    background-color: #0069d9;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
/* СТИЛИ ДЛЯ ОТЗЫВОВ */
.review {
    width: 300px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}
.review:hover {
    transform: scale(1.05);
}
.review-name {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.review-rating {
    color: #ff9800; /* Цвет звезд рейтинга */
    font-size: 1.2em;
    margin-bottom: 5px;
}
.review-comment {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 5px;
}