/* Общие стили для всего содержимого */
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body, html{
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy-Medium', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: white;
    overflow-x: hidden;
}


.top_container{
    height: auto;
    margin: 2%;
}
.logo_container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
    max-width: 200px;
    height: auto;
}
.logo img {
    width: 100%;
    height: auto;
}


.form-container{
    text-align: center;
}

hr {
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

a {
    text-decoration: none;
    color: #333;
}

/* Стили для шапки */
header {
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 3%;
}
/* - - - - НАВИГАЦИОННОЕ МЕНЮ - - - - - -*/

.header_nav {
    color: #333;
    position: relative;
    height: auto;
    background-color: rgb(251 221 237);
    border: 1px solid #3333333d;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.main_nav {
    margin: 30px;
    vertical-align: top;
    width: 20%;
}
main {
    min-height: auto;
    width: 90%;
    margin: 0 auto;
    border-left: 1px solid rgb(251 221 237);
    border-right: 1px solid rgb(251 221 237);
}

.nav_cat {
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    font-size: 25px;
    letter-spacing: 0;
    display: inline-block;
}

.nav_cat:hover {
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5);
    transform: perspective(500px) scale(1.5);
}
.mobile_nav_toggle {
    display: none;
    cursor: pointer;
}

.mobile_nav_toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: transform 0.4s ease;
}

.main_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_nav {
    list-style: none;
}
/* Стили для основного контента */

h2 {
    color: #292b2c;
    font-size: 30px;
    margin-bottom: 1%;
}
section h4 {
    color: #333;
}

ul {
    list-style: none;
}
.item-section {
    width: 80%;
    margin: 5% auto;
}
.item_list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.item_list_item {
    text-align:center;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
}
.item_img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    transition: transform 0.5s ease;
}
.price_cart {

}

.item_img:hover{
    transform: scale(1.05);
}

.cat_list{
    margin: 30px;
    vertical-align: top;
    width: 20%;
    transition: transform 0.3s ease-in-out;
}

.cat_list:hover{
    transform: scale(1.05);
}
img {
    max-width: 100%;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(251 221 237);
    color: #333;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #3333333d  ;
}

iframe{
    border: 1px solid #3333333d;
    border-radius: 10px;
}
.iframe {
    background-color: rgb(251 221 237);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                        /* СТИЛИ ДЛЯ ОТЗЫВОВ */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.review {
    width: 300px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}
.review:hover {
    transform: scale(1.05);
}
.review-name {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.review-rating {
    color: #ff9800;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.review-comment {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 5px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                           /* АВТОРИЗАЦИЯ */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.sign_in_out{
    font-size: 20px;
    width: 25%;
    height: auto;
}

.last {
    color: black;
    list-style-type: none;
    margin-right: 20px;
}

.login-link, .register-link,logout-link {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    margin-right: 10px;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.login-link:hover, .register-link:hover,logout-link {
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5);
    transform: perspective(500px) scale(1.5);
}
.logout-link{
    font-size: 12px
}
.username {
    /* Добавьте стили, которые хотите применить к username */
    font-weight: bold;
    color: rgb(255 137 200);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.username:hover {
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.auth_form {
    display: flex;
    background-color: rgb(251 221 237);
    height: auto;
    width: 410px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #3333333d  ;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 0;
}

.auth_form.errorlist {
    height: auto;
}

.auth_form p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_form label {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.auth_form input {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.auth_form input:focus {
    border-color: #007bff;
    outline: none;
}

.auth_submit {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    transition: background-color 0.3s ease;
}

.auth_submit:hover {
    background-color: #0056b3;
}
.auth_submit:active {
    background-color: #333;
}

.auth_form ul {
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

.auth_form ul.errorlist {
    color: red;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
}

.auth_footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.res_pass_q {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.res_pass_q:hover {
    text-decoration: underline;
    color: #007bff;
}

/* КНОПКА ТЕМЫ*/
.theme-selector {
    width: 25%;
    height: auto;
    cursor: pointer;
    border: none;
    background-color: white;
    color: #333;
    border-radius: 5px;
}
/*- - - - - -*/
/*ОПИСАНИЕ ITEM*/
.product_item {
    display: flex;
    padding: 3%;
    margin-bottom: 20px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_img {
    height: 500px;
    max-width: 400px;
}

.price {
    text-align: center;
}

.description_item {
    margin-left: 20%;
}

#success-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    z-index: 9999;
    max-width: 200px;
    text-align: center;
}
/* - - - КОРЗИНА - - - */

/* Стили для основного контейнера */
.cart_container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка */
.cart_container h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Стили для таблицы */
.cart_container table {
    width: 100%;
    border-collapse: collapse;
}

/* Стили для заголовков таблицы */
.cart_container th, .cart_container td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart_container th {
    font-weight: bold;
}
.cart_container thead {
    background-color: rgb(251 221 237);
}
/* Стили для данных в таблице */
.cart_container td {
    vertical-align: middle;
}

/* Стили для общего итога */
.cart_container .total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
}

.cart_container .total strong {
    font-weight: bold;
    color: #333;
}

/* Стили для ссылки оформления заказа */
.compleat {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(251 221 237);
    color: #333;
    text-decoration: none;
    border: 1px solid #3333334a;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.compleat:hover {
    background-color: #45a049;
}

/* Стили для блока неавторизованного пользователя */
.not_authorized {
    margin-top: 20px;
    text-align: center;
}

.not_authorized a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.not_authorized a:hover {
    text-decoration: underline;
}

.add-to-cart {
    display: inline-block;
    padding: 3px;
    background-color: rgb(251, 221, 237);
    color: #333;
    text-decoration: none;
    border: 0.5px solid #3333334a;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.add-to-cart:hover {
    background-color: #f9c6d3;
}

/* - - - - - - - - - - - - - - */

.original-price {
    text-decoration: line-through;
    color: gray;
}

.discounted-price {
    color: rgb(255, 204, 229);
    border: 1px solid;
    text-shadow: 1px 1px 2px rgb(0 0 0);
}

/* - - - - - - - - - - - - - */
/* - АККАУНТ -*/
/* Общие стили для контейнера и его дочерних элементов */
.acc_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #3363;
    border-radius: 10px;
}

/* Стили для блока с деталями пользователя */
.user-details {
    flex: 1;
    margin-right: 20px;
}

.user-details h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.user-details form {
    width: 100%;
}

.user-details label {
    font-weight: bold;
}

.user-details input[type="text"],
.user-details input[type="file"],
.user-details input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-details input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-details input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стили для блока с корзиной */
.cart {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.cart h2 {
    margin-bottom: 20px;
    font-size: 24px;
}


.trash_button img {
    width: auto;
    min-width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    transition: box-shadow 1s ease, background-color 1s ease;
}
.clear_order_button img{
    width: auto;
    min-width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    transition: box-shadow 1s ease, background-color 1s ease;
}

.trash_button img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(251, 221, 237);
}

.buy_cart {
    position: fixed;
    width: 70px;
    height: 50px;
    background-color: rgb(251, 221, 237);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3333334a;
    border-radius: 20%;
    right: 20px;
    bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buy_cart:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buy_cart_img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

#cart-count {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
/* - - - кнопки увеличения/уменьшения кол-ва предметов в корзине - - - -*/
.increment {
    margin: 1%;
    width: 20px;
    border-radius: 20%;
    color: #333333;
    background-color: rgb(251 221 237);
}
.decrement {
    margin: 1%;
    width: 20px;
    border-radius: 20%;
    color: #333333;
    background-color: rgb(251 221 237);
}

/*- - - - МЕДИА - - - - -*/

/* Стили для узких экранов (например, на мобильных устройствах) */

@media screen and (max-width: 667px) {
    table {
        width: 100%;
    }

    table thead {
        display: none;
    }

    table tbody {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    table tbody tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #ccc;
    }

    table tbody td {
        display: block;
        text-align: left;
    }

    table tbody td:first-child {
        font-weight: bold;
    }

    table tbody td:last-child {
        text-align: right;
    }

    table tbody td {
        display: block;
        margin: 10px auto;
    }

    table tbody td img {
        display: block;
        margin: 0 auto;
    }
    .product_img {
        height: 100%;
        max-width: 100%;
    }
    .product_item {
        flex-direction: column;
    }
    .description_item {
        margin-top:10%;
    }

    iframe {
        width: 100%;
    }

    .item_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
    /* Уменьшаем отступы для основного контейнера на маленьких экранах */
    .cart_container {
        height: auto;
        padding: 5px;
        margin: 5px auto;
        border-radius: 5px;
    }

    /* Уменьшаем размер заголовка на маленьких экранах */
    .cart_container h1 {
        font-size: 18px;
    }

    /* Уменьшаем размер ячеек таблицы на маленьких экранах */
    .cart_container th, .cart_container td {
        padding: 3px 4px;
        font-size: 14px;
    }

    /* Уменьшаем размер шрифта для итога на маленьких экранах */
    .cart_container .total {
        font-size: 14px;
    }

    /* Уменьшаем отступ между элементами в корзине на маленьких экранах */
    .cart_container .not_authorized, .cart_container .compleat {
        margin-top: 5px;
    }

    /* Уменьшаем отступы у кнопки добавления в корзину на маленьких экранах */
    .add-to-cart {
        padding: 2px;
        font-size: 12px;
    }

    .trash_button img {
        width: 100px;
        height: auto;
    }
    /* ================================================================= */
    /* гамбургер */
    .mobile_nav_toggle {
        display: block;
    }

    .main_nav_list {
        display: none;
        flex-direction: column;
        position: relative;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
        margin-bottom: 10%;
    }

    .main_nav {
        margin-bottom: 10px;
    }

    .main_nav_list.active {
        border-top: 1px solid #3333333d;
        display: flex;
    }

    .mobile_nav_toggle.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile_nav_toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .mobile_nav_toggle.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .main_nav {
        display: block;
        height: auto;
        width: auto;
        border-bottom: 1px solid #3333333d;
        font-size: 10px;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 280px) {
    .username {
        font-size: 15px;
    }

    iframe {
        width: 100%;
    }
}

.size-selector {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.size-selector label {
    color: #333;
    font-weight: bold;
}

.size-selector select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(251 221 237/ 0.1%);
    color: #333;
    font-size: 14px;
    width: 150px;
}

/* При наведении курсора */
.size-selector select:hover {
    border-color: #999;
}

.table_size {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size_table_link {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: underline;
}

.size_table_link:hover {
    color: rgb(253 103 221 / 70%);
}

/* СТИЛИ ДЕТАЛЕЙ ЗАКАЗА*/
.order_data {
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order_data h1 {
    text-align: center;
    margin-bottom: 20px;
}

.order_data label {
    display: block;
    margin-bottom: 5px;
}

.order_data input,
.order_data select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order_data button {
    width: 100%;
    padding: 10px;
    background-color: rgb(251 221 237);
    color: #292b2c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order_data button:hover {
    background-color: #45a049;
}
