/* Общие стили для всего содержимого */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
    overflow-x: hidden;
}
/* DARK MODE */
.dark-mode{
    color: white;
    background-color: #333;
}


.form-container{
    text-align: center;
}

hr {
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

a {
    text-decoration: none;
    color: #333;
}

/* Стили для шапки */
header {
    height: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo {
    max-width: 10%;
    margin-bottom: 24px;
}
.header_nav {
    color: #333;
    position: relative;
    height: 150px;
    background-color: rgb(251 221 237);
    border: 1px solid #3333333d;
}

nav ul {
    padding-top: 30px;
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center
}

.main_nav {
    margin: 30px;
    vertical-align: top;
    width: 20%;
}
main {
    margin-top: 100px;
    min-height: auto;
}

.nav_cat {
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    font-size: 25px;
    letter-spacing: 0;
    display: inline-block; /* Обеспечивает правильное применение transform */
}

.nav_cat:hover {
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5);
    transform: perspective(500px) scale(1.5); /* Приближение к монитору с использованием perspective */
}

/* Стили для основного контента */

h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
section h2 {
    margin-top: 10%;
    color: #333;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item_list{
    margin: 30px;
    vertical-align: top;
    width: 20%;
    transition: transform 0.3s ease-in-out;
}
.item_list:hover{
    transform: scale(1.05);
}

.cat_list{
    margin: 30px;
    vertical-align: top;
    width: 20%;
    transition: transform 0.3s ease-in-out;
}

.cat_list:hover{
    transform: scale(1.05);
}
img {
    max-width: 100%;
}

.item_img{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 250px;
    height: 360px;
}
h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(251 221 237);
    color: #333;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #3333333d  ;
}

iframe{
    margin-bottom: 30px;
    border: 1px solid #3333333d;
    border-radius: 10px;
}
.iframe {
    background-color: rgb(251 221 237);
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.product {
    width: 250px;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 18px;
    margin-bottom: 10px;
}

.product button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.product button:hover {
    background-color: #0069d9;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                        /* СТИЛИ ДЛЯ ОТЗЫВОВ */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.review {
    width: 300px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}
.review:hover {
    transform: scale(1.05);
}
.review-name {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.review-rating {
    color: #ff9800; /* Цвет звезд рейтинга */
    font-size: 1.2em;
    margin-bottom: 5px;
}
.review-comment {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 5px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                                           /* АВТОРИЗАЦИЯ */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.sign_in_out{
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    height: 24px;
}

.last {
    color: black;
    list-style-type: none;
    margin-right: 20px;
}

.login-link, .register-link,logout-link {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    margin-right: 10px;
}

.login-link:hover, .register-link:hover,logout-link {
    text-decoration: underline;
    color: #007bff;
}
.logout-link{
    font-size: 12px
}
.username {
    /* Добавьте стили, которые хотите применить к username */
    font-weight: bold;
    color: rgb(255 137 200); /* Например, розовый цвет */
    font-size: 40px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.username:hover {
    color: #ff69b4; /* Например, розовый цвет при наведении */
    text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5); /* Небольшая тень */
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.auth_form {
    display: flex;
    background-color: rgb(251 221 237);
    height: 400px;
    width: 410px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #3333333d  ;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.auth_form.errorlist {
    height: auto;
}

.auth_form p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_form label {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.auth_form input {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.auth_form input:focus {
    border-color: #007bff; /* Цвет рамки при фокусе */
    outline: none;
}

.auth_submit {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    transition: background-color 0.3s ease;
}

.auth_submit:hover {
    background-color: #0056b3;
}
.auth_submit:active {
    background-color: #333;
}

.auth_form ul {
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

.auth_form ul.errorlist {
    color: red;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
}

.auth_footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.res_pass_q {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333; /* цвет ссылки */
    text-decoration: none;
}

.res_pass_q:hover {
    text-decoration: underline;
    color: #007bff;
}